@model OrderViewModel
@{
    ViewData["Title"] = $"Заказ №{Model.Id}";
    var imageUrl = "/img/OrderCreated.png";
}

<section class="container mb-3">
    <div class="row justify-content-center">
        <img class="order-created-image" src="@imageUrl" alt="OrderSuccessfullyCreated">
    </div>

    <div class="row justify-content-center">
        <span class="d-flex justify-content-center">
            Номер Вашего заказа: @Model.Id
        </span>
        <span class="d-flex justify-content-center">
            Спасибо за доверие
        </span>
    </div>
</section>