@model AddOrdersViewModel

@{
    ViewData["Title"] = "Home Page";
    var initialDate = DateTime.Now;
}


<div class="row">
    <div class=" d-flex col-9 flex-column justify-content-between align-content-center">
        <div class="text-center">
            <h1 class="display-4">Форма создания заказа</h1>
        </div>

        <div class="d-flex col">
            <form method="post" id="orderForm" asp-controller="Order" asp-action="Create" class="w-100">
                <h5>Город отправителя</h5>
                <div class="mb-3 col-12">
                    <input class="form-control input-field"
                           asp-for="SenderCity"
                           placeholder="г.Санкт-Петербург">
                    <span asp-validation-for="SenderCity" class="validation-error-message"></span>
                </div>

                <h5>Адрес отправителя</h5>
                <div class="mb-3 col-12">
                    <input class="form-control input-field"
                           asp-for="SenderAddress"
                           placeholder="Набережная реки Карповки, 5к22">
                    <span asp-validation-for="SenderAddress" class="validation-error-message"></span>
                </div>

                <h5>Город получателя</h5>
                <div class="mb-3 col-12">
                    <input class="form-control input-field"
                           asp-for="RecipientCity"
                           placeholder="г.Санкт-Петербург">
                    <span asp-validation-for="SenderCity" class="validation-error-message"></span>
                </div>

                <h5>Адрес получателя</h5>
                <div class="mb-3 col-12">
                    <input class="form-control input-field"
                           asp-for="RecipientAddress"
                           placeholder="Набережная реки Карповки, 5к22">
                    <span asp-validation-for="SenderAddress" class="validation-error-message"></span>
                </div>

                <div class="row d-flex justify-content-between gx-3 mb-3">
                    <div class="col-6">
                        <h5>Вес груза, г</h5>
                        <input class="form-control input-field"
                               asp-for="Weight"
                               placeholder="Укажите вес груза">
                        <span asp-validation-for="Weight" class="validation-error-message"></span>
                    </div>

                    
                    <div class="col-6">
                        <h5>Дата забора груза</h5>
                        <input class="form-control input-field"
                               asp-for="ExpirationDate"
                               value="@initialDate">
                        <span asp-validation-for="ExpirationDate" class="validation-error-message"></span>
                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

